.primary-color-500{
    background-color: #00BCD4;
}
.primary-color-700{
    background-color: #0097A7;
}
.primary-color-900{
    background-color: #006064;
}
.primary-color-A100{
    background-color: #84FFFF;
}
.primary-color-A200{
    background-color: #18FFFF;
}
.primary-color-A400{
    background-color: #00E5FF;
}
.primary-color-A700{
    background-color: #00B8D4;
}

